<div class="background centralizado">
    <div class="rodape container centralizado">
        <a href="mailto:fh27.95@gmail.com"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/felipehenrique4"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/felipe.henrique.7564"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/felipehenriquee"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5585997837494"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></a>
        
        
    </div>
    <p>Site feito em Angular</p>
</div>
