<div class="sobre centralizado">
    <div class="background centralizado">
        


        <div class="caixa centralizado">
            <h1>Sobre Mim</h1>
            <p>
                Olá, eu sou Felipe Henrique, programador fullstack, cursando 7º semestre de Sistemas e Mídias Digitais na UFC. Tive primeiro contato com programação no curso técnico de informática no 
    IFCE (2013-2016), porém comecei a programar profissionalmente em 2019 como bolsista na UFC.
            </p>
        </div>
        
        
    </div>
    <div class="backgroundImage minhafoto" style="background-image: url('./assets/eu.jpeg');">
    
    </div>
    <div class="faixa">
        
    </div>
</div>
