<div class="backPreto">
    <div class="background centralizado">
    
        
        
        
        <div class="caixa caixa1 centralizado">
            <div class="titulo centralizado"> 
                <h1>FELIPE</h1>

            </div>
            <div class="subtitulo centralizado" >
                <h5>fullstack</h5>
            </div>
        </div>
        <div class="caixaApagada centralizado">
            <div class="titulo centralizado"> 
                <h1>HENRIQUE</h1>

            </div>
            <div class="subtitulo subtitulo2 centralizado" >
                
            </div>
        </div>
    
        
        <div class="caixa caixa2 centralizado"></div>
        <div class="caixa caixa3 centralizado"></div>
        <div class="caixa caixa4 centralizado"></div>
        <div class="caixa caixa5 centralizado"></div>
    </div>
    <div class="faixa">
    
    </div>
</div>

<app-sobre></app-sobre>
<app-skills></app-skills>
<app-portfolio></app-portfolio>
<app-rodape></app-rodape>

